.container {

    padding-bottom: 30px;
    padding-top: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

.header{
    font-size: 26px;
    font-weight: 800;
    color: rgb(65, 150, 164);
}

.article{
    font-size: 22px;
    font-weight: 500;
}

.image{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleContainer{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
